body {
  font: 12px sans-serif;
}

.button-group {
  margin-bottom: 1px;
  padding: 10px;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

.line {
  fill: yellow;
  stroke: steelblue;
  stroke-width: 1.5px;
}